
#fondo{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: -1
}



* {
    padding:0px;
    margin:0px;
    
}


#n1{
      
    height: 47px;
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;

}

ul, ol {
    list-style: none;
}

.nav li a{
    width:60px;
    background-color:#1C1C1C;
    color:#fff;
    text-decoration:none;
    font-size: 15x;
    padding:15px 40px;
    display:block;
}
.nav li a:hover{
    background-color:#434343;
}
.nav > li{
    float:right;
}

.nav li ul{
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul{
    display:block;
}

.nav li ul li{
    position:relative;
    
}

.nav li lu li lu{
    rigth:-140px;
    top:0px;
}
#feed{

    float: left;

	background-color: #6E6E6E;
	height: 500px;
	width: 800px;
	
}

#lista{

    float: right;

	background-color: #6E6E6E;
	height: 500px;
	width: 548px;
	
}
#descripcion{
    float: center;
	width: 1300px;
	height: 200px;
    color: white;
	
}
#listaVideos{
    background:gray;
    background-position: center;
	height: 500px;
    width: 548px;
    font-size: 30px;
    color:white

}

#n{
    float: left;
  height: 200px;
    width: 1300px;  
}

#full{
    background: black;
    height: 900px;
    width: 1350px;
}